<div class="container">
    <header class="header">
        <div class="header-inside">
            <h1>100vh</h1>
            <h4>The creative works of Joe Day</h4>
            <h5>Joe Day is a Front-end Developer at Microsoft working in the Windows Design Studio.</h5>
            <nav class="main-nav">
                <ul>
                    {{#each nav}}
                    <li><a href="{{href}}">{{page}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </header>
    <section class="square portrait">

    </section>
</div>
